<div class="create-main">
  <div class="create-center">
    <h1>Create Post</h1>
    <form class="form1" [formGroup]="createPostForm" (ngSubmit)="create()">
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        formControlName="name"
        id="name"
        placeholder="John Doe"
      />
      <label for="description">Description</label>
      <textarea
        type="text"
        name="name"
        id="name"
        formControlName="description"
        placeholder="Write something..."
        rows="8"
      ></textarea>
      <label for="imagePath">Image Path</label>
      <input
        type="file"
        name="imagePath"
        formControlName="image_path"
        id="imagePath"
        (change)="onSelectedFile($event)"
      />

      <div class="buttons">
        <button class="cancel" type="button" (click)="cancelPosts()">
          Cancel
        </button>
        <button type="submit">Create</button>
      </div>
    </form>
  </div>
</div>
