<div class="create-main">
  <div class="create-center">
    <h1>Delete Post</h1>
    <p>Are you sure you want to delete this post?</p>
    <!-- <form class="form1">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" placeholder="John Doe" />
      <label for="description">Description</label>
      <textarea
        type="text"
        name="name"
        id="name"
        placeholder="Write something..."
        rows="8"
      ></textarea>
      <label for="imagePath">Image Path</label>
      <input type="text" name="imagePath" id="imagePath" /> -->

    <div class="buttons">
      <button class="cancel" (click)="cancelDelete()">Cancel</button>
      <button (click)="delete(id)">Delete</button>
    </div>
    <!-- </form> -->
  </div>
</div>
