/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
   
}
body{
    font-family: 'Poppins',sans-serif;
}

button:hover{
    opacity: 80%;
    scale: 0.98;
   
}

i{
    cursor: pointer;
}